DATABASE_URL="file:./dev.db"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
ADMIN_EMAILS=pchouhan@starlab.co.in,starlabtest10@gmail.com,sdaver@csumail.com,vyewale@starlab.co.in
UPLOAD_DIR=
