.env
.env*.local
.next
node_modules
coverage
dist
*.log
.next-server.pid
*.tsbuildinfo
prisma/dev.db
prisma/dev.db-journal
public/uploads/*
!public/uploads/logo.jpg
!public/uploads/about-agent-photo.png
